section.map
  .map__wrapper.wrapper
    details.map__block
      summary.map__header
        svg.map__svg
          use(xlink:href="img/symbol/sprite.svg#pin")
        h2.map__title Open map
      .map__content
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2303.305256611305!2d55.95504651618541!3d54.739434280294546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d93a14deed8e07%3A0xad1d1a2aa95f880f!2z0KHQsNC70LDQstCw0YIg0K7Qu9Cw0LXQsg!5e0!3m2!1sru!2sru!4v1609317821096!5m2!1sru!2sru" aria-hidden="false")
